body{
    background-color: lightblue;
}
h1{
    text-align: center;
    color:black;
}
.row{
    margin: 25px 25px;
}
.card{
    text-align: center;
    margin: 10px 10px;
}
.list-group-item{
    background-color: darkblue;
    color:aliceblue;
}
